<div class="viewContainer">
  <div class="content">
      <h1>Brandle</h1>
      <p>A guessing game based on the colour of brand logos.</p>
      <button mat-raised-button color="primary" class="full-width-button" [disabled]="!canPlay" (click)="startGame()">Play</button>
  </div>

  <div class="content">
      <div class="col">
          <div class="col1">
              <mat-form-field appearance="fill">
                  <mat-label>Select</mat-label>
                  <mat-select [(ngModel)]="guessedName" [disabled]="canPlay">
                      <mat-option *ngFor="let brand of brands" [value]="brand.brandId">{{ brand.name }}</mat-option>
                  </mat-select>
              </mat-form-field>

              <button mat-raised-button color="primary" [disabled]="canPlay" (click)="guess()">Guess</button>
          </div>
          <div class="col2">
              
              <div class="square" [ngStyle]="{'background-color': squareColour}"></div>
          </div>
      </div>
  </div>
</div>